<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{page.title}}</title>

    <!-- Bootstrap -->

    <link href="/bootstrap/stylesheets/styles.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/logo_webdiffusion_icone.png">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-39574436-1', 'auto');
      ga('send', 'pageview');

    </script>
  </head>
  <body>
    <div id="bg-container"></div>
    <span itemscope itemtype="http://schema.org/LocalBusiness">
    <header id="top-navbar" class="navbar navbar-trans navbar-fixed-top" role="navigation">
      <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/{% if page.language == "en" %}content{% endif %}"><img itemprop="image" src="/logo_webdiffusion_final_blanc.png" style="height: 30px; width: auto;"></a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-collapsible">

            <ul class="nav navbar-nav navbar-left">
              {% if page.language != "en" %}
                {% assign nav = site.navigation %}
              {% else %}
                {% assign nav = site.navigation-en %}
              {% endif %}
              {% for link in nav %}
                {% assign current = nil %}
                {% if page.url contains link.url %}
                    {% assign current = 'current' %}
                {% endif %}
                <li class="element {% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
                    <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li>
              {% if page.language != "en" %}
              <a href="/content">en</a>
              {% else %}
              <a href="/">fr</a>
              {% endif %}
              </li>
              <li><a href="#footer" class="btn btn-default">
                {% if page.language != "en" %}Contact{% else %}Contact Us{% endif %}
              </a></li>
            </ul>
          </div>
</div>
    </header>
{{content}}
{% if page.language != "en" %}
    <footer id="footer">
      <div class="waypoint-bg "  style="background-image: url(/images/bg-reponses.jpg)"></div>
      <div class="container">
          <h1>Obtenez plus de réponses à vos questions</h1>
        <div class="row">
        <div class="col-md-8">
          <p><em>Nous sommes toujours disponibles pour vous accompagner dans votre démarche de webdiffusion et aider le développement de la webdiffusion dans les organisations et les entreprises. Il nous fera plaisir de répondre à votre question par courriel, par téléphone, ou sur un forum public.
          </em></p>
        </div>
        <div class="col-md-4">
          <p><span itemprop="name">Agence Webdiffusion</span> est une entreprise de
<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
<span itemprop="addressLocality">Montréal</span> desservant le
<span itemprop="addressRegion">Québec</span> et le
<span itemprop="addressCountry">Canada</span></span>. </p>
        </div>
        </div>
        <div class="row">

        <div class="col-md-6">
        <h3><span class="glyphicon glyphicon-earphone"></span> Par téléphone</h3>
        <ul>
          <li>Pour obtenir une réponse immédiate, téléphonez au <span class="glyphicon glyphicon-earphone"></span> <span itemprop="telephone">1-514-360-5798</span>.
          </li>
        </ul>
        <h3><span class="glyphicon glyphicon-envelope"></span> Par courriel</h3>
        <ul>
          <li>Pour des questions sur la production de webdiffusion, contactez Claudia à <a href="mailto:claudia@agencewebdiffusion.com"><span class="glyphicon glyphicon-envelope"></span> <span itemprop="email">claudia@agencewebdiffusion.com</span></a>. </li>
          <li>Pour des questions sur la technique et la technologie de webdiffusion, contactez Daniel à <a href="mailto:daniel@agencewebdiffusion.com"><span class="glyphicon glyphicon-envelope"></span> daniel@agencewebdiffusion.com</a>. </li>
          <li>Pour des questions sur l'informatique et la stratégie web de la webdiffusion, contactez Mathieu à <a href="mailto:mathieu@agencewebdiffusion.com"><span class="glyphicon glyphicon-envelope"></span> mathieu@agencewebdiffusion.com</a></li>
        </ul>
        <h3><span class="glyphicon glyphicon-comment"></span> Médias sociaux</h3>
        <ul>
        <li>Démarrez une conversation Twitter avec nous <span class="glyphicon glyphicon-twitter"></span> <a href="https://twitter.com/agencewebdiff">@agencewebdiff</a></li>
        <li>Explorez <a href="http://www.linkedin.com/company/agence-webdiffusion/">notre réseau LinkedIn</a></li>
        </ul>
        </div>
        <div class="col-md-6">
        <h3><span class="glyphicon glyphicon-list-alt"></span> Par formulaire</h3>
        <form id="contact-form" action="" method="post">
          <div class="form-group">
            <!-- all your input fields here.... -->
            <label for="contact-nom">Votre nom</label>
            <input id="contact-nom" type='text' class='form-control' name='nom' placeholder="Nom" />
            </div>
            <div class="form-group">
            <label for="contact-question">Votre question</label>
            <textarea id="contact-question" class='form-control' name='question' placeholder="Question" rows='3' noresize></textarea>
            </div>
            <div class="form-group">
            <label for="contact-organisation">Votre organisation</label>
            <input id="contact-organisation" type='text' class='form-control' name='organisation' placeholder="Organisation" />
            </div>
            <div class="form-group">
            <label for="contact-email-phone">Votre téléphone ou courriel</label>
            <input id="contact-email-phone" type='text' class='form-control' name='email-phone' placeholder="Téléphone ou courriel" />
          </div>
          <input type='hidden' name='redirect_to' value='http://agencewebdiffusion.github.io/recu.html'>
          <input type='submit' class='btn btn-default' value='Soumettre' />
        </form>

        </div>
        </div>
      </div>

      <div class="small text-center">
        <p>Merci de votre visite :) &copy; 2015 Agence Webdiffusion Inc. </p>
        <p><a href="#">Retour au haut</a> - <a href="/">Retour à l'accueil</a></p>
      </div>

    </footer>
{% else %}
    <footer id="footer">
      <div class="waypoint-bg "  style="background-image: url(/images/bg-reponses.jpg)"></div>
      <div class="container">
          <h1>Get More Answers</h1>
        <div class="row">
        <div class="col-md-8">
          <p><em>We are fully available to help you through your webcast planning and to guide your company or organisation in growing your content. We will be delighted to answer your questions by email, by phone or on social media.
          </em></p>
        </div>
        <div class="col-md-4">
          <p><span itemprop="name">Agence Webdiffusion</span> is a
<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
<span itemprop="addressLocality">Montréal</span> company offering services in
<span itemprop="addressRegion">Québec</span> and
<span itemprop="addressCountry">Canada</span></span>. </p>
        </div>
        </div>
        <div class="row">

        <div class="col-md-6">
        <h3><span class="glyphicon glyphicon-earphone"></span> By Phone</h3>
        <ul>
          <li>For an immediate answer, call <span class="glyphicon glyphicon-earphone"></span> <span itemprop="telephone">1-514-360-5798</span>.
          </li>
        </ul>
        <h3><span class="glyphicon glyphicon-envelope"></span> By Mail</h3>
        <ul>
          <li>For answers about webcast production, contact Claudia at <a href="mailto:claudia@agencewebdiffusion.com"><span class="glyphicon glyphicon-envelope"></span> <span itemprop="email">claudia@agencewebdiffusion.com</span></a>. </li>
          <li>For answers about webcasting technologies and equipments, contact Daniel at <a href="mailto:daniel@agencewebdiffusion.com"><span class="glyphicon glyphicon-envelope"></span> daniel@agencewebdiffusion.com</a>. </li>
          <li>For answers about web strategy and development for webcasts, contact Mathieu at <a href="mailto:mathieu@agencewebdiffusion.com"><span class="glyphicon glyphicon-envelope"></span> mathieu@agencewebdiffusion.com</a></li>
        </ul>
        <h3><span class="glyphicon glyphicon-comment"></span> Social Media</h3>
        <ul>
        <li>Start a Twitter conversation <span class="glyphicon glyphicon-twitter"></span> <a href="https://twitter.com/agencewebdiff">@agencewebdiff</a></li>
        <li>Explore <a href="http://www.linkedin.com/company/agence-webdiffusion/">our LinkedIn</a></li>
        </ul>
        </div>
        <div class="col-md-6">
        <h3><span class="glyphicon glyphicon-list-alt"></span> By Form</h3>
        <form id="contact-form" action="" method="post">
          <div class="form-group">
            <!-- all your input fields here.... -->
            <label for="contact-nom">Your name</label>
            <input id="contact-nom" type='text' class='form-control' name='nom' placeholder="Name" />
            </div>
            <div class="form-group">
            <label for="contact-question">Your question</label>
            <textarea id="contact-question" class='form-control' name='question' placeholder="Question" rows='3' noresize></textarea>
            </div>
            <div class="form-group">
            <label for="contact-organisation">Your organisation</label>
            <input id="contact-organisation" type='text' class='form-control' name='organisation' placeholder="Organisation" />
            </div>
            <div class="form-group">
            <label for="contact-email-phone">Your phone or email</label>
            <input id="contact-email-phone" type='text' class='form-control' name='email-phone' placeholder="Phone or Email" />
          </div>
          <input type='hidden' name='redirect_to' value='http://agencewebdiffusion.github.io/thanks.html'>
          <input type='submit' class='btn btn-default' value='Submit' />
        </form>

        </div>
        </div>
      </div>

      <div class="small text-center">
        <p>Thanks for visiting :) &copy; 2013-2014 Agence Webdiffusion Inc. </p>
        <p><a href="#">Back to Top</a> - <a href="/content">Back to Homepage</a></p>
      </div>

    </footer>
{% endif %}

  </span>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/bootstrap/javascripts/bootstrap.js"></script>
    <script src="/waypoints.min.js"></script>
    <script type="text/javascript">
    $(window).load(function () {

      // Lazy antispam measure
      window.setTimeout(function () {
        $("#contact-form").attr('action',"http://getsimpleform.com/messages?form_api_token={{ site.form_api_token }}");
      }, 10000);

      $('.waypoint-bg').each(function () {

        if($(this).hasClass("plain")) {
          this.backgroundReference = $("<div class='plain' style='background-color: " + $(this).css("background-color") + "'/>").appendTo("#bg-container");
        } else {
          this.backgroundReference = $("<div class='photo' style='background-image: " + $(this).css("background-image") + "'/>").appendTo("#bg-container");
        }
      }).waypoint(function(direction) {
          if(direction === "down") {
            this.backgroundReference.addClass("show");
          } else if (direction === "up") {
            this.backgroundReference.removeClass("show");
          }
        }
      , {
        offset: "75%"
      });
      $("#bg-container").addClass("loaded");

    });
    </script>
  </body>
</html>
